target
target_ci
target_ci_stable
Cargo.lock
third_party
webroot
work
/Cargo.toml
out/
# compiler crash dumps, which rustc and rustfmt drop in the working directory
rustc-ice-*.txt
# editor artifacts
.zed
.neoconf.json
*.vim
**/.idea
**/.nvim.lua
**/.cargo
!**/tests/**/.cargo
!**/examples/**/.cargo
